html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0; 
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 0 0 40px 0;
}

h4 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.backgraund_header_preview {
    background-image: url(../travel/images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background: rgba(242, 120, 92, 0.7);
    padding: 0 120px 0 120px;
    box-shadow: 0px 5px 10px rgba(13, 96, 111, 0.7);
}

.logo_name {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    transition: all .3s;
}

.logo {
    display: flex;
}

.logo_object {
    width: 30px;
    width: 30px;
}

.logo_line {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.logo_name:hover {
    color: gray;
}

.header_rectangle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.navigation_link {
    list-style: none;
    padding: 0 20px;
    cursor: pointer;
    transition: all .3s;
    scroll-behavior: smooth;
}
.navigation_link:hover {
    color: gray;
}

.button_login {
    padding: 10px 30px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    border: none
}
.button_login:hover {
    color: gray;
}

.preview {
    display: flex;
    padding: 0px 370px 270px 120px;
}

.explore_text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 0 45px 0;
}

.search_text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.button {
    padding: 10px 32px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .3s;
    border: none
}
.button:hover {
    color: gray;
}

.search_rectangle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0 20px 0 41px;
}

.stepsh2 {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
}

.three_steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px 30px 130px;
}

.ico {
    cursor: pointer;
    display: inline-block;
}

.icon_square {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background: #F2785C;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.step_icon {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ico_bycicle {
    background-image: url(../travel/images/byke.svg);
    width: 50px;
    height: 45px;
}
.ico_calendar {
    background-image: url(../travel/images/cal.svg);
    width: 50px;
    height: 45px;
}
.ico_fly {
    background-image: url(../travel/images/fly.svg);
    width: 50px;
    height: 45px;
}

.step {
    text-align: center;
}

.destinations_name {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
}

.destination {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.destination_img {
    padding: 0 50px 0 0;
    position: relative;
    text-align: center;
    color: white;
}

.destination_text {
    position: absolute;
    bottom: 15px;
    left: 40px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.ellipse{
    display: flex;
    justify-content: center;
    padding: 24px 0 0 0;
}
.ellipse1 {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.ellipse2 {
    width: 20px;
    height: 20px;
    background: #F2785C;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.ellipse3 {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.destination_button {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
}

.button_dist {
    display: flex;
    align-items: center;
}

.buttondist_img {
    width: 40px;
    height: 40px;
    padding: 0 12px 0 0;
}

.storie_name {
    display: flex;
    justify-content: center;
}

.story {
    display: flex;
    align-items: center;
    padding: 30px 120px 0 120px;
}

.story_img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.story_info {
    padding: 0 0 0 40px;
}

.stories_button {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
}

.button_story {
    display: flex;
    align-items: center;
}

.buttonstory_img {
    width: 35px;
    height: 22px;
    padding: 0 12px 0 0;
}

.backgroundstoriefoot {
    background-image: url(../travel/images/foot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fon {
    background: rgba(255, 255, 255, 0.7);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social {
    padding-right: 30px;
    align-items: center;
}

.text {
    padding-right: 300px;
}

.text_footer{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer_ico {
    align-items: center;
}

.ico_insta {
    background-image: url(../travel/images/insta.svg);
    width: 31px;
    height: 31px;
    margin-right: 25px;
}

.ico_youtube {
    background-image: url(../travel/images/youtube.svg);
    width: 33px;
    height: 28px;
    margin-right: 25px;
    margin-bottom: 1px;
}

.ico_twitter {
    background-image: url(../travel/images/twit.svg);
    width: 31px;
    height: 28px;
    margin-bottom: 1px;
}

.hamburger {
    display: none;
    width: 35px;
    height: 32px;
    position: relative;
    margin: 8px 4.4px;
}
.hamburger:before{
    position: absolute;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.7px;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
}
.hamburger:after{
    position: absolute;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.7px;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
}
.hamburger_line {
    content: "";
    position: absolute;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    height: 2.7px;
    width: 100%;
    top: calc(50% - 1px);
    left: 0;
}

@media screen and (max-width: 390px) {
    .hamburger {
        display: inline-block;
    }
    .logo_name {
        display: none;
    }
    .header_navigation {
        display: none;
    }
    .header_button {
        display: none;
    }
    .logo_line {
        justify-content: space-between;
        width: 100%;
    }
    .header {
        padding: 45px 25px 0 16px;
        box-shadow: none;
        background: none;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
    }
    .backgraund_header_preview {
        background-image: url(../travel/images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    }
    h1 {
        display: none;
    }
    .explore_text {
        display: none;
    }
    .search_text {
        font-size: 14px;
        line-height: 17px;
    }
    .button {
        font-size: 11px;
        line-height: 15px;
        padding: 7px 9px;
    }
    .preview {
        padding: 50px 15px 60px 15px;
    }
    .search_rectangle {
        padding: 0 60px;
    }
    body {
        max-width: 390px;
    }
}